.pokemon-card-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pokemon-card {
  font-size: 30px;
  border: 1px solid #ece54c;
  border-radius: 10px;
  padding: 60px;
  color: white;
}

.pokemon-card img {
  width: 100%;
}

.types {
  margin-top: 15px;
}

.physicals {
  margin-bottom: 15px;
}
