button {
  width: 20vw;
  height: 50px;
  font-size: 20px;
  border: 2px solid #ece54c;
  color: #ece54c;
  cursor: pointer;
  box-shadow: 5px 5px rgb(236, 229, 76, 0.2);
}

button:hover {
  transform: scale(1.1);
}
